# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
SKUD_OS/Debug/makedep.mk
SKUD_OS/Debug/Makefile
SKUD_OS/Debug/SKUD_OS.eep
SKUD_OS/Debug/SKUD_OS.elf
SKUD_OS/Debug/SKUD_OS.hex
SKUD_OS/Debug/SKUD_OS.lss
SKUD_OS/Debug/SKUD_OS.map
SKUD_OS/Debug/SKUD_OS.srec
